<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Profile</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            .success{
                color: green;
            }
        </style>
    </head>
    <body>
        <h1>Profile Page</h1>
        <h2>Welcome {{first_name|title}} {{last_name|title}}</h2>
        <form action="" method="POST">
            {% csrf_token %}
                    {# for messages  #}
            {% if messages %}
                {% for message in messages %}
                    <small {% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</small>
                {% endfor %}
            {% endif %}
            {# for non field errors #}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    {{error}}
                {% endfor %}
            {% endif %}
            {# for form fields #}
            {% for fm in form %}
                {{form.label_tag}} {{form}} {{form.errors|striptags}}<br><br>
            {% endfor %}<br>
        <input type="submit" value="save">
        </form>
        <a href="{% url 'change-password' %}"><h3>Change Password</h3></a>
        <a href="{% url 'logout' %}"><h3>Logout</h3></a>

        <script src="" async defer></script>
    </body>
</html>